@media (max-width: 767px) {
.hide-in-xs { display:none !important; }
.section { padding:40px 30px 30px 90px; background-size:70px auto; background-repeat:repeat-y; }
.section .col-50  { width:100%; float:none; clear:both;}
.section h3 { margin-bottom:30px;}
.section p { line-height:20px; font-size:14px; }
}
