@charset "utf-8";
/* CSS Document */
/*********** CORE ***********/
body { font-family: 'Roboto', sans-serif; width: 100%; }
.custom-tooltip { margin:0px; }
.custom-tooltip-parent { position:relative; display:block; }
.custom-tooltip-msg { margin:auto; position:absolute; background:#000; color:#FFF; width:252px; padding:4px 10px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  z-index:11 } 
.custom-tooltip-msg:after { content:''; position:absolute; width:0px; height:0px; border:5px solid #CCC; margin:auto;  }
.top .custom-tooltip-msg:after { left:0px; right:0px; bottom:-10px; border-color:#000 transparent transparent transparent  }
.bottom .custom-tooltip-msg:after { left:0px; right:0px; top:-10px; border-color:transparent transparent #000  transparent }
.left .custom-tooltip-msg:after { bottom:0px; left:-10px; top:00px; border-color:transparent #000 transparent transparent  }
.right .custom-tooltip-msg:after { bottom:0px; right:-10px; top:00px; border-color:transparent transparent transparent #000 }
.custom-tooltip-parent .custom-tooltip-msg  { display:none; }
.custom-tooltip-parent:hover .custom-tooltip-msg  { display:block; }
/*********** THEME ***********/
.container { width:200px; margin:0px auto; }
.custom-tooltip { padding:0px; display:inline-block; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; font-size:16px;  }
.spacing { padding:27px; margin-bottom:160px; }
* { margin:0; padding:0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
h1,h2,h3,h4,h5,h6 { margin:0;}
html,body { min-height:100%; display:flex;  }
html { width:100%; flex-wrap:nowrap; flex-grow:1; }
.section { min-height:100%; padding:30px 50px; }
.section { display: flex; align-items: center;  background:#5337ba url('../images/pan.png') no-repeat top left; background-size:150px auto; color:white; flex-grow: 1; }
.section .inner {  }
.clearfix:after, .row:after { clear:both; content:''; display:block;}
.col-50 { width:50%; float:left; }
.section h1 { color:#b6aede; font-size:36px; line-height:42px; font-weight:700; }
.section h3 { color:#50ee85; font-size:20px; font-weight:500; margin-bottom:50px; }
.section p { color:#fff; font-size:16px; font-weight:400; line-height:22px; margin-bottom:22px; }
.section p span, .section p a{ color: #50ee85; font-weight:500; }
.section p a:hover { color:#FFF;}
img { max-width:100%;}
.row { display:flex; align-items:center;}
.footer-links { position: fixed; left:0; bottom: 0; right: 0; }
.footer-links ul { display: flex; background-color: #5337ba; }
.footer-links ul li { flex-grow: 1; list-style: none; padding: 0 1px; }
.footer-links ul li a { padding: 18px 10px; display: block; text-align: center; color: #FFF; text-decoration: none; background-color: rgba(255,255,255,0.15); font-size: 18px; }

.responsive-tab { flex-grow: 1; }
.cst-tabs-links li.active a { background-color: rgba(255,255,255,0.05); }
.cst-tabs-container { width: 100%; }
.pdleft200px { padding-left:200px; }
.work-profile {margin-top:-50px; }
.work-profile li { width: 33.33%; float:left; }
.work-profile li a { display:block; margin:10px; position:relative; }
.work-profile li a img { max-width: 100%; height:auto;}
.work-profile li a:hover .overlay { display: flex; }
.overlay { display:none; position:absolute; left: 0; left:0; right:0; bottom: 0; height:100%; width:100%;  background-color:rgba(27,26,26,0.75); justify-content: center; align-items:center; color:#FFF; font-size: 20px;  }
.work-profile li:nth-child(3n+1) { clear: left; }
.blog-listing li a { display: flex; padding-bottom:15px; border-bottom: 1px solid rgba(255,255,255,0.5); margin-bottom:30px; color:#FFF; text-decoration: none; }
.blog-listing li a:hover h2 { text-decoration: underline;}
.blog-listing li img { width: 200px; border-bottom: 5px solid #FFF; }

.blog-detail h2, .blog-listing li h2 { margin-bottom: 5px;  }
.blog-detail h6, .blog-listing li h6 { margin-bottom: 12px; opacity:0.6; font-size: 15px; }
.mr30 { margin-right: 30px; }
.pdlr200px { padding-left: 250px; padding-right: 250px; }
.blog-detail img { width:100%; height: 500px; margin-bottom:30px; }