<div class="h-100 d-flex align-items-center px-md-5 pt-5 pt-md-0">
    <div class="row align-items-center w-100">
        <div class="col-md-12 mb-5">
            <div class="two-layered-title position-relative text-center mb-5">
                <h3 class="text-uppercase clrgrey bold">Husen</h3>
                <h1 class="text-uppercase clrblack position-relative">
                    About
                </h1>
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 medium pe-5">
            <p class="mb-3">
                I am Highly motivated and focused team player and having Strong Understanding of internet technology, web semantics and related business models. And, I am Really passionate about my work. 
            </p>
            <p class="mb-3">
                Working on <b>Angular, HTML/CSS, Javascript, jQuery, Twitter Bootstrap, Material Design, LESS, SASS, Photoshop and Custom plugin development.</b>
                and version controlling tool like <b>Github</b>
            </p>
            <p>
                Also, I have an Experise in application performance optimizing using various tools like lighthouse, Google PageSpeed Insights, Google Chrome DevTools, etc.
            </p>
        </div>
        <div class="col-md-6">
            <div class="row g-4 mb-4 pb-2">
                <div class="col-md-6">
                    <div class="py-3 px-3 card">
                        <h3 class="clrblack bold font-32 mb-1">10+</h3>
                        <div class="d-flex clrgrey">
                            <hr class="me-3"/>
                            <p class="clrgrey text-uppercase font-14">Years of Experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="py-3 px-3 card">
                        <h3 class="clrblack bold font-32 mb-1">115+</h3>
                        <div class="d-flex clrgrey">
                            <hr class="me-3"/>
                            <p class="clrgrey text-uppercase font-14">Completed Projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="py-3 px-3 card">
                        <h3 class="clrblack bold font-32 mb-1">4+</h3>
                        <div class="d-flex clrgrey">
                            <hr class="me-3"/>
                            <p class="clrgrey text-uppercase font-14">Certification & Couses</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="py-3 px-3 card">
                        <h3 class="clrblack bold font-32 mb-1">3</h3>
                        <div class="d-flex clrgrey">
                            <hr class="me-3"/>
                            <p class="clrgrey text-uppercase font-14">Awards & Recognition</p>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="mb-3 text-uppercase medium clrblack font-16">Expterise in:</h3>
            <div class="row g-3 justify-content-start align-items-center">
                <div class="col flex-grow-0">
                    <img src="../../assets/images/angular.svg" title="Anuglar" alt="Anuglar" height="32"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/material.svg" title="material" alt="material Anuglar" height="30"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/javascript-1.svg" title="Javascript" alt="Javascript" height="28"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/html.svg" title="html" alt="html" height="28"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/bootstrap.svg" title="bootstrap" alt="bootstrap" height="30"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/adobe-photoshop-cs6.svg" title="adobe" alt="adobe-photoshop" height="30"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/adobe-illustrator-cs6.svg" title="Adobe" alt="Adobe adobe-illustrator" height="30"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/css-3.svg" title="css" alt="css" height="30"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/github.svg" title="GIT" alt="GIT" height="28"/>
                </div>
                <div class="col flex-grow-0">
                    <img src="../../assets/images/vs.svg" title="Visual" alt="Visual Studio/Code" height="30"/>
                </div>

            </div>
        </div>
    </div>
</div>