<div class="h-100vh d-flex align-items-center px-md-5 py-5">
    <div class="row align-items-center w-100">
        <div class="col-md-12 mb-5">
            <div class="two-layered-title position-relative text-center mb-3">
                <h3 class="text-uppercase clrgrey bold">Portfolio</h3>
                <h1 class="text-uppercase clrblack position-relative">
                    Work
                </h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="portfolio-card">
                                <div class="porfolio-container">
                                    <div class="portfolio-card">
                                        <img src="../../assets/images/portfolio/automobile-1.png" alt="Porfolio" class="img-fluid"/>
                                    </div>
                                    <div class="portfolio-back">
                                        <div>
                                            <h4 class="mb-3 font-20 bold">Smart Planner</h4>
                                            <p class="mb-2 font-14">Desktop/Tablet</p>
                                            <p class="mb-2 font-14">My Role: Lead UX/UI Designer</p>
                                            <a href="javascript:void(0);"
                                            (click)="openDialog('Planner Application','xyz');">View case study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="portfolio-card">
                                <div class="porfolio-container">
                                    <div class="portfolio-card">
                                        <img src="../../assets/images/portfolio/contactless-car-service-application.png" alt="Porfolio" class="img-fluid"/>
                                    </div>
                                    <div class="portfolio-back">
                                        <div>
                                            <h4 class="mb-3 font-20 bold">Contactless Car Service Application</h4>
                                            <p class="mb-3">Mobile, Tablet, Desktop Web Application</p>
                                            <p class="mb-2 font-14">My Role: Lead UX/UI Designer</p>
                                            <a href="javascript:void(0);"
                                            (click)="openDialog2('Contactless Car Service Application','xyz');">View case study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="portfolio-card">
                                <div class="porfolio-container">
                                    <div class="portfolio-card">
                                        <img src="../../assets/images/portfolio/car-tracker-application.png" alt="Porfolio" class="img-fluid"/>
                                    </div>
                                    <div class="portfolio-back">
                                        <div>
                                            <h4 class="mb-3 font-20 bold">Vehicle Parts Management</h4>
                                            <p class="mb-3">Tablet Application</p>
                                            <p class="mb-2 font-14">My Role: Lead UX/UI Designer</p>
                                            <a href="javascript:void(0);"
                                            (click)="openPart('Vehicle Parts Management','xyz');">View case study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="portfolio-card">
                                <div class="porfolio-container">
                                    <div class="portfolio-card">
                                        <img src="../../assets/images/portfolio/car-rental-website.png" alt="Porfolio" class="img-fluid"/>
                                    </div>
                                    <div class="portfolio-back">
                                        <div>
                                            <h4 class="mb-3 font-20 bold">Lease / Rent / Subscribe Car Platform</h4>
                                            <p class="mb-3">Desktop/Tablet/Mobile Application</p>
                                            <p class="mb-2 font-14">My Role: Lead UX/UI Designer</p>
                                            <a href="javascript:void(0);"
                                            (click)="openWebsite('Vehicle Rent/Lease/Buy/Sell Website','xyz');">View case study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6">
                            <div class="porfolio-container">
                                <div class="portfolio-card">
                                    <img src="../../assets/images/portfolio/mobile-app-1.png" alt="Porfolio" class="img-fluid"/>
                                </div>
                                <div class="portfolio-back">
                                    <div>
                                        <h4 class="mb-3 font-20 bold">Doctor consultation</h4>
                                        <p class="mb-3">Mobile application</p>
                                        <a href="https://www.behance.net/gallery/134927965/Online-doctor-consultation-mobile-application" 
                                        target="_blank">
                                            <img 
                                            #tooltip="matTooltip"
                                            matTooltip="View Details"
                                            [matTooltipPosition]="'below'"
                                            matTooltipHideDelay="0"
                                            src="../../assets/images/behance.svg" alt="behance" class="img-flui w-30px"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-lg-6">
                            <div class="portfolio-card">
                                <div class="portfolio-card">
                                <div class="porfolio-container">
                                    <div class="portfolio-card">
                                        <img src="../../assets/images/portfolio/admin-portal.png" alt="Porfolio" class="img-fluid"/>
                                    </div>
                                    <div class="portfolio-back">
                                        <div>
                                            <h4 class="mb-3 font-20 bold">Automobile ERP Solution</h4>
                                            <p class="mb-3">Mobile/Web application</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                             <div class="portfolio-card">
                                <div class="portfolio-card">
                                <div class="porfolio-container">
                                    <div class="portfolio-card">
                                        <img src="../../assets/images/portfolio/admin-portal.png" alt="Porfolio" class="img-fluid"/>
                                    </div>
                                    <div class="portfolio-back">
                                        <div>
                                            <h4 class="mb-3 font-20 bold">Broker Front and Back office</h4>
                                            <p class="mb-3">Mobile/Web application</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                             <div class="portfolio-card">
                                <div class="portfolio-card">
                                <div class="porfolio-container">
                                    <div class="portfolio-card">
                                        <img src="../../assets/images/portfolio/admin-portal.png" alt="Porfolio" class="img-fluid"/>
                                    </div>
                                    <div class="portfolio-back">
                                        <div>
                                            <h4 class="mb-3 font-20 bold">Contract management product</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="portfolio-card">
                                <div class="porfolio-container">
                                    <div class="portfolio-card">
                                        <img src="../../assets/images/portfolio/tv.png" alt="Porfolio" class="img-fluid"/>
                                    </div>
                                    <div class="portfolio-back">
                                        <div>
                                            <h4 class="mb-3 font-20 bold">Workshop Digital Service Board</h4>
                                            <p class="mb-3">TV</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
        </div>
    </div>
</div>