.porfolio-container { position: relative; background-color: #FFF; }
.portfolio-card { margin-bottom: 0.5rem; background-color: var(--clrwhite); width: 100%; }
.portfolio-back { 
    height: 160px;
    padding: 10px 15px;
    text-align: center;
}
.w-30px { width: 30px; }


.custom-dialog__header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 18px 36px;
font-size: 20px;
background: #000;
color: #fff;
border-top-left-radius: 0;
font-weight: 500;
border-top-right-radius: 0;
}

.custom-dialog__header mat-icon {
  color: #fff;
}

.custom-dialog__content {
  padding: 0;
  font-size: 16px;
  color: #444;
  max-height: 300px;
  overflow: auto;
}

.custom-dialog__footer {
  padding: 8px 36px;
  background: #f9f9f9;
      border-top: 1px solid #CCC;

  button {
    font-weight: bold;
  }
}

li { list-style: initial;}


.case-study {
      margin: 0 auto;
      background-color: #fff;
      padding: 20px 0;
      box-shadow: 0 4px 15px rgba(0,0,0,0.05);
      border-radius: 10px;
    }

    

    .key-learning {
      background-color: #f1f7ff;
      border-left: 4px solid #1e90ff;
      padding: 15px 20px;
      margin-top: 20px;
      border-radius: 5px;
    }


.hero {
  margin-bottom: 32px;
}

.hero h1 {
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-top: 8px;
}

section {
  margin-bottom: 32px;
}

h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

p {
  font-size: 15px;
  color: #444;
}

ul,
ol {
  margin-left: 20px;
  margin-top: 12px;
}

li {
  margin-bottom: 8px;
  font-size: 14px;
}

.meta {
  list-style: none;
  margin-top: 16px;
}

.meta li {
  font-size: 14px;
  margin-bottom: 6px;
}

