.porfolio-container { position: relative; background-color: #FFF; }
.portfolio-card { margin-bottom: 0.5rem; background-color: var(--clrwhite); width: 100%; }
.portfolio-back { 
    height: 160px;
    padding: 10px 15px;
    text-align: center;
}
.w-30px { width: 30px; }


.custom-dialog__header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 18px 16px;
font-size: 20px;
background: #000;
color: #fff;
border-top-left-radius: 0;
font-weight: 500;
border-top-right-radius: 0;
}

.custom-dialog__header mat-icon {
  color: #fff;
}

.custom-dialog__content {
  padding: 16px;
  font-size: 16px;
  color: #444;
  min-height: 300px;
}

.custom-dialog__footer {
  padding: 8px 16px;
  background: #f9f9f9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  button {
    font-weight: bold;
  }
}

li { list-style: initial;}


.case-study {
      max-width: 900px;
      margin: 0 auto;
      background-color: #fff;
      padding: 40px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.05);
      border-radius: 10px;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
      color: #222;
      border-bottom: 2px solid #eee;
      padding-bottom: 5px;
    }

    h3 {
      font-size: 22px;
      margin-top: 30px;
      margin-bottom: 10px;
      color: #444;
    }

    p {
      margin-bottom: 15px;
    }

    ul {
      margin-bottom: 15px;
      padding-left: 20px;
    }

    ul li {
      margin-bottom: 8px;
    }

    strong {
      font-weight: 600;
    }

    .divider {
      height: 2px;
      background-color: #eee;
      margin: 30px 0;
      border: none;
    }

    .key-learning {
      background-color: #f1f7ff;
      border-left: 4px solid #1e90ff;
      padding: 15px 20px;
      margin-top: 20px;
      border-radius: 5px;
    }