<div class="d-flex align-items-center px-md-5 pt-5 pt-md-0">
    <div class="row align-items-center w-100">
        <div class="col-md-12">
            <div class="two-layered-title position-relative text-center mb-5">
                <h3 class="text-uppercase clrgrey bold">Portfolio</h3>
                <h1 class="text-uppercase clrblack position-relative">
                    Work
                </h1>
            </div>
        </div>
        <div class="col-md-12">
            <mat-tab-group class="">
                <mat-tab label="All" class="overflow-hidden">
                    <div class="row g-3 mt-3">
                        <div class="col-lg-6">
                            <div (click)="openDialog('Online doctor consultation mobile application','mobile-app-1-detail.png')" class="portfolio-card">
                                <img src="../../assets/images/portfolio/mobile-app-1.png" alt="Porfolio" class="img-fluid"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="portfolio-card">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="portfolio-card">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="portfolio-card">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="portfolio-card">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="portfolio-card">

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Web Applications">

                </mat-tab>
                <mat-tab label="Mobile Applications">

                </mat-tab>
                <mat-tab label="Admin Portals">

                </mat-tab>
                <mat-tab label="Designs">

                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
