
ul li a { font-weight: var(--medium); color:var(--clrgrey); text-decoration: none; }
.min-w-18px { min-width:18px; }
ul li .clrblack { 
    color:var(--clrblack);
}
.sidebarname {
    letter-spacing: -0.05em;
    word-spacing: 0.125em;
}
.max-h-100vh { max-height: 100vh;}