<div class="container-fluid">
    <div class="row h-100vh">
        <div class="col-md-3 align-self-center justify-self-center ps-5">
            <div class="ps-2">
            <ul>
                <li class="mb-3">
                    <a routerLinkActive="clrblack"  
                    routerLink="home" 
                    href="javascript:void(0);">
                    <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faHome"></fa-icon>
                    <span>Home</span>
                </a>
                </li>
                <li class="mb-3">
                    <a routerLinkActive="clrblack"  
                    routerLink="./about" 
                    href="javascript:void(0);">
                    <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faUser"></fa-icon>                    
                    <span>About</span>
                </a>
                </li>
                <li class="mb-3">
                    <a routerLinkActive="clrblack"  
                    routerLink="./portfolio" 
                    href="javascript:void(0);">
                    <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faSuitcase"></fa-icon>
                    <span>Portfolio</span>    
                </a>
                </li>
                <li class="mb-3">
                    <a routerLinkActive="clrblack"  
                    routerLink="./resume" 
                    href="javascript:void(0);">
                    <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faFileAlt"></fa-icon>
                    <span>Resume</span>                    
                </a>
                </li>

                <li class="mb-3">
                    <a routerLinkActive="clrblack"  
                    routerLink="./contact" 
                    href="javascript:void(0);">
                    <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faEnvelope"></fa-icon>
                    <span>Contact</span>
                    </a>
                </li>
            </ul>
        </div>            
        </div>
        <div class="col-md-9 bglightgrey px-5 py-5">
            <router-outlet></router-outlet>
        </div>
    </div>      
</div>
