<iframe
src="../../assets/doc/Husen_Telwala_Senior_Frontend_UI_Developer.pdf" aria-details="Resume"
class="resume-doc" 
width="100%">

</iframe>

<div class="download-placeholder-height"></div>
<div class="download">
    <div class="offset-md-3 text-center">
        <a href="../../assets/doc/Husen_Telwala_Senior_Frontend_UI_Developer.pdf" download class="medium">
            <img src="../../assets/images/Icon_pdf_file.svg" alt="pdf" class="mr-3 img-fluid w-20px me-2" />Download
        </a>
    </div>
</div>
