<div class="row">
    <div class="w-50 h-100vh pt-4 px-5">
        <div class="mb-5">
            <h1 class="fontsi">Husen Telwala</h1>
            <span class="fs20px d-block mb-1">
                <span class="text-uppercase">Senior UI Engineer</span>&nbsp;&nbsp;                
            </span>
            <span class="fs16px d-block fontro_medium">11+ Years of total experience</span>
        </div>
        <div>
            <h3 class="mb-3 fs18px fontro_bold">
                Key Skills:
            </h3>
            <ul class="fontps fs13px mb-5 ps-3 lh18px">
                                        <li class="mb-1">Responsible for all phases of application Design from Requirement gathering from the client, Wireframing, PSD 
                        Design, Design to Direct Angular integration.</li>
                        <li class="mb-1">Building complex(POC, NFP) solutions on Angular framework.</li>

                        <li class="mb-1">Adding module structure, routing, calling API to load data, necessary third party plugins, etc in Angular 
                        Framework. </li>
                        <li class="mb-1">Angular Material Framework</li>

                        <li class="mb-1">Bootstrap with angular</li>

                        <li class="mb-1">Directly Client communication.</li>

                        <li class="mb-1">Adding Module-Component based architecture, necessary conditions, fetching data, creating services, declaring 
                        enums, cross-component communication, One way/Two way/Event bindings in NFP which can be directly useful at the time of devlopment and can save development efforts and time.</li>
                        <li class="mb-1">Mobile first responsive coding to ensure the application scalability on all devices/platforms.</li>

                        <li class="mb-1">Writing high-quality, maintainable & reusable HTML, CSS, JavaScript code.</li>

                        <li class="mb-1">Performance fine-tuning and optimization using different developer tools.</li>

                        <li class="mb-1">HTML Email templates, HTML to PDF Documents </li>

                        <li class="mb-1">Showing Charts, Graphical data using D3 js</li>
                        <li class="mb-1">Project estimation, team collaboration</li>
                        <li class="mb-1">Mentoring and Conducting knowledge sharing sessions to the colleague</li>
                        <li class="mb-1">Building UI component libraries to be used across the organization</li>
            </ul>

            <h3 class="mb-3 fs18px fontro_bold">
                Awards & Certification:
            </h3>

            <ul class="fontps fs13px mb-5 ps-3 lh18px">
                <li class="mb-2">Two times <b>Employee of the Month</b> Aug-2013 and Jan-2014 </li>
                <li class="mb-2">Team Award (First Quarter - 2017) </li>
                <li class="mb-2">70-480 - Certificate of completion Udemy</li>
                <li class="mb-2">Angular - Certificate of completion Udemy</li>
            </ul>
            <div class="pt-4"></div>
            <div class="pt-4"></div>
            <ul class="list-style-none border-left ps-3 fs14px">
                <li class="mb-2">
                    <a target="_blank" href="mailto:husentelwala@gmail.com">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faEnvelope"></fa-icon>
                        husentelwala@gmail.com
                    </a>
                </li>
                <li class="mb-2">
                    <a target="_blank" href="tel:+918780097036">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faPhone"></fa-icon>
                        +91 8780097036
                    </a>
                </li>
                <li class="mb-2">
                    <a target="_blank" href="https://husentelwalainfo.github.io/">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faGlobe"></fa-icon>
                        https://husentelwalainfo.github.io/
                    </a>
                </li>
                <li class="mb-2">
                    <a target="_blank" href="https://github.com/husenindia">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faGithub"></fa-icon>
                        https://github.com/husenindia
                    </a>
                </li>
                <li class="mb-2">
                    <a target="_blank" href="www.linkedin.com/in/husen-telwala">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faLinkedin"></fa-icon>
                        www.linkedin.com/in/husen-telwala
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-50 h-100vh bgwhite p-3">
        <div class="border-black p-3 ">
            <div>
                <h4 class="fontro_bold fs24px mb-3">Experience</h4>

                <div class="mb-4">
                    <h5 class="fs16px mb-1 fontro_bold">
                        Senior UI Engineer
                        <span class="fs13px fontps ms-2">(Oct 2015 - Present | 8+ yrs )</span>
                    </h5>
                    <h6 class="fs14px fontps mb-3 fontro_medium">
                        Gateway group of Company - AutoFacets
                    </h6>
                    <ul class="fs13px fontps ps-3">
                        <li class="mb-1">Responsible for all phases of application Design from Requirement gathering from the client - Wireframing - PSD Design - Design to Direct Angular integration.</li>
                        <li class="mb-1">Building complex(POC, NFP) solutions on Angular framework.</li>
                        <!-- <li class="mb-1">Extensively working on Angular Projects.</li> -->
                        <li class="mb-1">Utilizing responsive design to ensure the application scalability on any device or platform.</li>
                        <li class="mb-1">Writing high-quality, maintainable & reusable HTML, CSS, JavaScript code.</li>
                        <li class="mb-1">Performance fine-tuning and optimization using different developer tools.</li>
                        <li class="mb-1">Project estimation, team collaboration</li>
                        <li class="mb-1">Mentoring and Conducting knowledge sharing sessions to the colleague</li>
                        <li class="mb-1">Building UI component libraries to be used across the organization</li>
                    </ul>
                </div>

                <div class="mb-4">
                    <h5 class="fs16px mb-1 fontro_bold">
                        Frontend Developer
                        <span class="fs13px fontps ms-2">(May 2014 - Aug 2015 | 1 yrs 4 mos)</span>
                    </h5>
                    <h6 class="fs14px fontps mb-3 fontro_medium">
                        Hiddenbrains Infotech Pvt Ltd
                    </h6>
                    <ul class="fs13px fontps ps-3">
                        <li class="mb-1">Designing, Developing, and testing UI for mobile and web applications</li>
                        <li class="mb-1">PSD design to direct integration for CMS platforms like WordPress, Magento, Drupal, Zencart.</li>
                        <li class="mb-1">Email Newsletter Design and Development</li>
                    </ul>
                </div>
                
                <div class="mb-4">
                    <h5 class="fs16px mb-1 fontro_bold">
                        Frontend Developer
                        <span class="fs13px fontps ms-2">(May 2013 - April 2014 | 1 yrs)</span>
                    </h5>
                    <h6 class="fs14px fontps fontro_medium">
                        I-Verve Infoweb Pvt. Ltd
                    </h6>
                </div>

                <div class="">
                    <h5 class="fs16px mb-1 fontro_bold">
                        Jr. Frontend Developer
                        <span class="fs13px fontps ms-2">(Jan 2012 - April 2013 | 1 yrs 4 mos)</span>
                    </h5>
                    <h6 class="fs14px fontps fontro_medium">
                        Yudiz Solution Pvt. Ltd.
                    </h6>
                </div>
            
                <h4 class="fontro_bold fs24px mb-3 mt-5">Education</h4>
                <div class="">
                    <h5 class="fs16px mb-2 fontro_bold">
                        - Masters of Computer Application - <span class="fontro_medium">8.1 CGPA</span> - <span class="fs13px fontps">(2009 - 2012)</span>
                    </h5>
                    
                    <h5 class="fs16px fontro_bold">
                        - Becholor of Commerce - <span class="fontro_medium">First class</span> - <span class="fs13px fontps">(2006 - 2009)</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="download-placeholder-height"></div>
<div class="download">
    <div class="offset-md-3 text-center">
        <a href="../../assets/doc/resume.pdf" download class="medium">
            <img src="../../assets/images/Icon_pdf_file.svg" alt="pdf" class="mr-3 img-fluid w-20px me-2" />Download
        </a>
    </div>
</div>
