<div class="h-100 d-flex align-items-center px-5">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-4">
            <div class="animated-profile-pic d-inline-block h-300px w-300px"
            style="background-image: url(../../assets/images/husen-telwala-new.png);">
            </div>
            
        </div>
        <div class="col-md-7 pe-5 hero-text">
            <h1 class="text-uppercase clrblack mb-3">{{name}}</h1>
            <i class="font-18">My goal is build fast, mobile-first websites that clearly communicate with visitors.</i>
            <ul class="d-flex align-items-center font-20 mt-4">
                <li class="me-2">
                    <a class="clrblack clrhovergrey" target="_blank" href="https://stackoverflow.com/users/14938047/code-info">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faStackOverflow"></fa-icon>
                    </a>
                </li>
                <li class="me-2">
                    <a class="clrblack clrhovergrey" target="_blank" href="https://github.com/husenindia">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faGithub"></fa-icon>
                    </a>
                </li>
                <li class="me-2">
                    <a class="clrblack clrhovergrey" target="_blank" href="https://github.com/husentelwalainfo">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faGithub"></fa-icon>
                    </a>
                </li>
                <li class="me-2">
                    <a class="clrblack clrhovergrey" target="_blank" href="https://husentelwalainfo.github.io">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faGlobe"></fa-icon>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    
</div>