
h1 { font-size: 2.65em; font-weight: var(--bold); }
.hero-text i { color:var(--clrgrey);}
.animated-profile-pic {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    -webkit-animation: morph 8s ease-in-out 1s infinite;
    animation: morph 8s ease-in-out 1s infinite;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 9px hsl(0deg 0% 100% / 30%);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    overflow: hidden;
}
@-webkit-keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.w-230px { 
    height: 230px;
}
.h-230px {
    width: 230px;
}

@media (min-width: 768px) {    
    .w-md-300px { 
        height: 300px;
    }
    .h-md-300px {
        width: 300px;
    }
}