<div class="h-100 d-flex align-items-center px-md-5 pt-5 pt-md-0">
    <div class="row align-items-center justify-content-between text-center text-md-left">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="animated-profile-pic d-inline-block h-230px w-230px h-md-300px w-md-300px"
            style="background-image: url(../../assets/images/husen-telwala-image.png);">
            </div>
        </div>
        <div class="col-md-7 pe-md-5 hero-text">
            <h6 class="font-18 mb-1">Hey I am,</h6>
            <h1 class="text-uppercase clrblack mb-3">{{name}}</h1>
            <i class="font-18">I design intuitive, user-centered experiences that solve complex problems.</i>
            <ul class="d-flex align-items-center justify-content-md-start justify-content-center font-24 font-md-20 mt-4">
                <li class="me-md-2">
                    <a 
                    #tooltip="matTooltip"
                    matTooltip="Github"
                    [matTooltipPosition]="'above'"
                    matTooltipHideDelay="0"
                    aria-label="Github" 
                    class="clrblack clrhovergrey px-2 px-md-0" target="_blank" href="https://github.com/husenindia">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faGithub"></fa-icon>
                    </a>
                </li>
                <li class="me-md-2">
                    <a 
                    #tooltip="matTooltip"
                    matTooltip="Github"
                    [matTooltipPosition]="'above'"
                    matTooltipHideDelay="0"
                    aria-label="Github" 
                    class="clrblack clrhovergrey px-2 px-md-0" target="_blank" href="https://github.com/husentelwalainfo">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faGithub"></fa-icon>
                    </a>
                </li>
                <li class="me-md-2">
                    <a 
                    #tooltip="matTooltip"
                    matTooltip="Website"
                    [matTooltipPosition]="'above'"
                    matTooltipHideDelay="0"
                    aria-label="Website" 
                    class="clrblack clrhovergrey px-2 px-md-0" target="_blank" href="https://husentelwalainfo.github.io">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faGlobe"></fa-icon>
                    </a>
                </li>
                <li class="me-md-2">
                    <a
                    #tooltip="matTooltip"
                    matTooltip="Behance"
                    [matTooltipPosition]="'above'"
                    matTooltipHideDelay="0"
                    aria-label="Behance" 
                    class="clrblack clrhovergrey px-2 px-md-0" target="_blank" href="https://www.behance.net/husentelwala/projects">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faBehanceSquare"></fa-icon>
                    </a>
                </li>
                <li class="me-md-2">
                    <a class="clrblack clrhovergrey px-2 px-md-0" 
                    target="_blank" 
                    href="https://in.pinterest.com/htelwala/_created/"
                    #tooltip="matTooltip"
                    matTooltip="Pinterest"
                    [matTooltipPosition]="'above'"
                    matTooltipHideDelay="0"
                    aria-label="Pinterest">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faPinterest"></fa-icon>
                    </a>
                </li>
                <li class="me-md-2">
                    <a class="clrblack clrhovergrey px-2 px-md-0" 
                    target="_blank" 
                    href="https://www.linkedin.com/in/husen-telwala-55868b17/"
                    #tooltip="matTooltip"
                    matTooltip="Linkedin"
                    [matTooltipPosition]="'above'"
                    matTooltipHideDelay="0"
                    aria-label="Linkedin">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faLinkedin"></fa-icon>
                    </a>
                </li>
                <li class="me-md-2">
                    <a 
                    #tooltip="matTooltip"
                    matTooltip="StackOverflow"
                    [matTooltipPosition]="'above'"
                    matTooltipHideDelay="0"
                    aria-label="StackOverflow" 
                    class="clrblack clrhovergrey px-2 px-md-0" target="_blank" href="https://stackoverflow.com/users/14938047/code-info">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faStackOverflow"></fa-icon>
                    </a>
                </li>
                <li class="me-md-2">
                    <a 
                    #tooltip="matTooltip"
                    matTooltip="Email"
                    [matTooltipPosition]="'above'"
                    matTooltipHideDelay="0"
                    aria-label="Email" 
                    class="clrblack clrhovergrey px-2 px-md-0" target="_blank" href="mailto:husentelwala@gmail.com">
                        <fa-icon class="me-2 min-w-18px d-inline-block text-center" [icon]="faEnvelope"></fa-icon>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    
</div>